<section class="mt-4">
	<div class="row">
		<div class="col-md-8">
			<h1 class="display-2 welcome">
				TimeTrckr.com
			</h1>
			<p class="lead">
				The best place to track your time: it's free, doesn't have
				annoying ads, and doesn't overwhelm you with a bunch of
				features you'll never use.
			</p>
		</div>
	</div>
</section>
<section class="text-center mt-4">
	<div class="row">
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-play fa-stack-1x"></i>
			</span>
			<h2>Sit Back &amp; Relax</h2>
			<p>
				Click play. Do something productive. Click stop.
				The timer automatically does the heavy-lifting
				for you.
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-plus fa-stack-1x"></i>
			</span>
			<h2>Forgot to Log?</h2>
			<p>
				No worries, it happens to the best of us. Just let us know
				what you did and for how long &mdash; the rest is history.
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-tag fa-stack-1x"></i>
			</span>
			<h2>Go Wild With Tags</h2>
			<p>
				Organize your logs with as many labels as you'd like (e.g.
				<em>Important</em>, <em>New Feature</em>, <em>Marketing</em>, or
				<em>Busy Work</em>).
			</p>
		</div>
	</div>
</section>
<section class="mt-4">
	<div class="bg-dark p-5 text-center">
		<%= link_to sign_up_path,
								role: "button",
								class: "text-white",
								title: "Sign up now" do %>
			<h1 class="display-4">
				Get Started Now
				<i class="fa fa-sign-in-alt"></i>
			</h1>
		<% end %>
	</div>
	<div class="bg-light p-5 text-center">
		<%= link_to sign_in_path,
								class: "text-dark",
								title: "Sign into TimeTrckr" do %>
			<h4>
				Already have an account? Sign in
				<i class="fa fa-sign-in-alt"></i>
			</h4>
    <% end %>
  </div>
</section>
<footer class="mt-4 text-center">
	<small>
		<%= mail_to "hello@TimeTrckr.com" %>
		&middot;
		&copy; <%= Date.today.year %>
		TimeTrckr.com
	</small>
</footer>
