<section class="mt-4" id="welcome-header">
	<h1 class="display-2">
		TimeTrckr.c<i class="fas fa-clock"></i>m
	</h1>
	<p>The best place to track your time.</p>
</section>
<section class="text-center mt-5">
	<div class="row">
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-money-bill-wave fa-stack-1x"></i>
			</span>
			<h2>Save Your Coins</h2>
			<p class="lead">
				It's 100% free, and always will be. No hidden fees or costs.
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-chess-queen fa-stack-1x"></i>
			</span>
			<h2>Keep It Simple</h2>
			<p class="lead">
				Just the right amount of features &mdash; no more, no less.
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-lock fa-stack-1x"></i>
			</span>
			<h2>Safe &amp; Secure</h2>
			<p class="lead">
				Your data is yours and yours only; never shared with or sold to
				3rd parties.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-play fa-stack-1x"></i>
			</span>
			<h2>Sit Back &amp; Relax</h2>
			<p class="lead">
				Click play. Do something productive. Click stop.
				The timer automatically does the heavy-lifting
				for you.
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-plus fa-stack-1x"></i>
			</span>
			<h2>Forgot to Log?</h2>
			<p class="lead">
				No worries, it happens to the best of us. Just let us know
				what you worked on and for how long &mdash; the rest is history.
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-tag fa-stack-1x"></i>
			</span>
			<h2>Go Wild With Tags</h2>
			<p class="lead">
				Organize your logs with as many labels as you'd like (e.g.
				<em>Important</em>, <em>New Feature</em>, <em>Marketing</em>, or
				<em>Busy Work</em>).
			</p>
		</div>
	</div>
</section>
<section class="mt-4">
	<div class="bg-dark p-5 text-center">
		<%= link_to sign_up_path,
								role: "button",
								class: "text-white",
								title: "Sign up now" do %>
			<h1 class="display-4">
				Get Started Now
				<i class="fa fa-sign-in-alt"></i>
			</h1>
		<% end %>
	</div>
	<div class="bg-light p-5 text-center">
		<%= link_to sign_in_path,
								class: "text-dark",
								title: "Sign into TimeTrckr" do %>
			<h4>
				Already have an account? Sign in &raquo;
			</h4>
    <% end %>
  </div>
</section>
<footer class="mt-4 text-center">
	<small>
		<%= mail_to "hello@TimeTrckr.com" %>
		&middot;
		&copy; <%= Date.today.year %>
		TimeTrckr.com
	</small>
</footer>
