<section id="logs">
	<% if current_user.logs_this_week? %>
		<div class="history-logs">
			<%= render "histories/logs", logs: @logs, num_weeks_ago: @num_weeks_ago %>
		</div>
		<div class="text-center mt-5 see-more-logs">
			<%= render "histories/see_more_logs_btn", num_weeks_ago: 1 %>
		</div>
	<% else %>
		<%= render "logs/blank_slate", text: "this week" %>
	<% end %>
</section>
