<div id="timer-control">
	<div>
		<button type="button" class="btn btn-link text-dark">
			<i class="fa fa-play timer-btn"></i>
		</button>
	</div>
</div>

<div class="logs-section">
	<div class="timer-form">
		<%= render "timers/form", log: @log %>
	</div>
</div>