<section id="timerControl">
	<div>
		<button type="button" class="btn btn-link text-dark">
			<i class="fa fa-play timer-btn"></i>
		</button>
	</div>
</section>
<section class="new-log-section d-none">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="mt-5">
				<%= render "timers/form", log: @log %>
			</div>
		</div>
	</div>
</section>
