<section id="tags">
	<% if current_user.tags? %>
		<p class="lead">
			<%= link_to "Create a new tag &raquo;".html_safe,
									new_tag_path,
									title: "Create a new tag to organize your time logs.",
									class: "text-dark" %>
		</p>
		<%= render "tags/tags", tags: @tags %>
	<% else %>
		<%= render "tags/blank_slate" %>
	<% end %>
</section>
