<div class="content-container">
  <div class="content">
    <h1>TimeTrckr.com</h1>
    <p>Hey <%= @user.email %>,</p>
    <p>
      We're happy you joined us!
    </p>
    <%= render "mailers/footer" %>
  </div>
</div>
