<footer>
	<p>
		<%= mail_to "hello@TimeTrckr.com", "Let us know" %>
		if you have feedback or get stuck with anything &mdash; we're here to
		help.
	</p>
	<p>
		- The TimeTrckr Team
		<br>
		<%= link_to "www.TimeTrckr.com",
								root_url,
								title: "Go to the TimeTrckr.com app" %>
	</p>
	<hr>
	<p>
		P.S. If you don't want to receive these weekly recaps,
		<%= mail_to "hello@TimeTrckr.com",
								"unsubscribe by replying to this email" %>.
	</p>
</footer>
