.del-log:hover, .text-light:hover {
	color: red;
}

.input-error {
	border-bottom: 2px solid #DC3545 !important;
}

.list-group-item {
	border: 1px solid rgba(0, 0, 0, 0.04)
}

.new-log-section {
	h1 {
		font-weight: 200;
	}
}

#log_name, #log_minutes {
	background: none;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
	height: 2.5em;
  padding : 0 10px;
  margin: 0;
  width : 100%;

	&:focus {
		outline: none;
	}
}

.timer-btn {
	font-size: 18.5em;
}

@keyframes shadow-pulse
{
	from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
 	}
}

#timerControl {
  position: relative;
	height: 400px;

	div {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.fa-play, .fa-stop {
		animation: shadow-pulse 1s infinite;
		text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
					    	 2px 1px 1px #ccc, 1px 2px 1px #eee,
					    	 3px 2px 1px #ccc, 2px 3px 1px #eee,
					    	 4px 3px 1px #ccc, 3px 4px 1px #eee,
					    	 5px 4px 1px #ccc, 4px 5px 1px #eee,
					    	 6px 5px 1px #ccc, 5px 6px 1px #eee,
					    	 7px 6px 1px #ccc;
	}
}
