.navbar {
    background-color: #F9F9F9;

   .todays-date {
       padding-top: 20px;

        h1 {
            font-size: 1.3rem;
            margin-top: 0;
            text-align: center;
        }
   }

   .links {
       display: flex;
       font-size: 1.3rem;
       list-style-type: none;
       margin: 0;
       padding: 0;
       text-align: center;

       li {
           flex: 1;
           padding: 6px 0;
       }
   }
}

.auto-timer-stop {
    height: calc(100vh - 93.92px);
    background-color: #FF3B30;
}

.auto-timer-form {
    display: none;
    padding: 16px;

    h1 {
        font-weight: 200;
    }
}

#form-tags {
    display: flex;
    flex-flow: row wrap;
    margin-top: 16px;
    text-align: center;

    .bubble {
        flex: 1;
        margin: 3px;
    }
}

@media screen and (max-width: 425px) {

}