.navbar {
   .todays-date {
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
   }

   .links {
       display: flex;
       font-size: 2rem;
       justify-content: space-around;
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
}

#timer-control {
    display: none;
    flex-flow: row nowrap;
    height: 500px;

    div {
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .navbar {
        h1 a {
            color: red;
        }
    }
}