<% if log.tags? %>
	<% log.tags.by_name.each do |tag| %>
	  <%= link_to hours_this_day_tag_path(tag, log_id: log),
								remote: true do %>
			<span class="badge badge-dark">
					<%= tag.name %>
			</span>
		<% end %>
	<% end %>
<% end %>
