<section class="logs-section">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="mt-4">
				<%= render "logs/form",
									 log: @log,
									 tags: @tags,
									 btn_text: "Update log" %>
			</div>
		</div>
	</div>
</section>
