<section id="logs">
	<p class="lead">
		All in a day's work:
		<%= Log.hours_for_today %>h
	</p>
	<ul class="list-group list-group-flush">
		<% @logs.each do |log| %>
			<li class="list-group-item">
				<b><%= log.hours %>h</b>
				&nbsp;
				&nbsp;
				<%= log.name %>
				<% if log.tags? %>
					&nbsp;
					&nbsp;
					<span class="badge badge-light">
						<% log.tags.each do |tag| %>
							<%= tag.name %>
						<% end %>
					</span>
				<% end %>
			</li>
		<% end %>
	</ul>
</section>
