<section id="timerControl">
	<div class="text-center">
		<button type="button" class="btn btn-link">
			<i class="fa fa-play timer-btn"></i>
		</button>
	</div>
</section>

<section class="log-name-sec d-none">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1>What did you work on?</h1>
			<%= render "logs/form", log: @log %>
		</div>
	</div>
</section>
